
  @import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,500;0,700;1,500;1,600;1,700&display=swap');


body{
    line-height: 1.8;
    color: #898fa1;
    font-size: 15px;

}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    letter-spacing: 1px;
    text-transform:uppercase;
    color: #11245A;
    font-family: 'lato'sans-serif;
}

.title-sm{
    font-size: 16px;
    letter-spacing: 1px;
}

a{
    font-weight: 700;
    transition: all 0.4s ease;
}

img{
    width: 100%;
}

small{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.navbar-logo img{
   height: 50px;
   width: auto;
   color: #e93881;
}
.navbar-logo{
    color: #e93881;
}

.navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}

.navbar .nav-link{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;

}
.navbar .nav-link:hover{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #e93881;

}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #e93881;
    text-decoration: underline;
}

#home{
 background: linear-gradient(rgba(17, 36, 90, 0.685),rgba(17, 36, 90, 0.685)), url(/images/hero\ image.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
align-items: center;
}

#home h1{
    font-weight: 700;
}

#home p{
    max-width: 550px;
    margin:18px auto;
}

.btn{
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
padding: 12px 28px;
border-radius: 0px;
}

.btn-brand{
    background-color: #e93881;
    color: white;
}

.btn-brand:hover{
    background-color: #b11c5a;
    color: white;
}



.section-intro{
    text-align: center;
margin-bottom: 16px;
}



.section-intro .hline{
    width: 120px;
    height: 2px;
    background-color: rgba(5, 0, 0, 0.164);
    margin: 16px auto 0 auto;
}


.icon-box{
    width: 60px;
    height: 60px;
    background-color: #e93881;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    flex: none;
}






.portfolio-item{
    overflow: hidden;
    position: relative;
}


.portfolio-item img,
.portfolio-item .portfolio-overlay{
    transition: all 0.4s ease;
}


.portfolio-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(17, 36, 90, 0.8);
    display: flex;
    align-items: flex-end;
    padding: 30px;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay{
    opacity: 1;
}
.portfolio-item:hover img{
transform: scale(1.1);
}

.portfolio-overlay h3,
.portfolio-overlay h6{
    color: white;
}




.features .icon-box{
    width: 34px;
    height: 34px;
    border-radius: 100px;
    font-size: 24px;
}

.team-member{
    background-color: #11245A;
}

.even{
    background-color: #1c3a8d;
}


.team-member .hline{
    width: 70px;
    height: 2px;
    margin: 16px auto;
    background-color: rgba(255, 255, 255, 0.445);
}


.team-member .team-member-img img,
.team-member .team-member-img .social-icons{
    transition: all 0.4s ease;
}

.team-member .team-member-img{
    position: relative;
    overflow: hidden;
}


.team-member .team-member-img .social-icons{
    width: 100%;
    height: 60px;
    background-color: #e93881;
    position: absolute;
    bottom: -60;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-member .team-member-img .social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.445);
    font-size: 24px;
    color: white;
    border-radius:100px ;
    margin-left: 4px;
    margin-right: 4px;
}

.team-member .team-member-img .social-icons a:hover{
    background-color: white;
    color: #e93881;
}

.team-member:hover .team-member-img .social-icons{
    bottom: 0;
   
    
}

.team-member:hover img{
    transform: translateY(-60px);
}


.review .stars{
    color: #e93881;
}


.review p{
    max-width: 600px;
    margin: 24px auto;
    font-style: italic
}

.test-images img{
    height: 65px;
    width: 65px;
    border-radius: 100px;
    transition: all 0.4s ease;
}

#testimonials .nav-pills .nav-link .active .test-images{
    background-color: transparent;
}

.client-images img{
    height: 35px;
    width: 35px;
   
}

@media (max-width: 575.98px) {
    .client-images {
        display: flex;
        flex-wrap: wrap;
      }
      
      .client-images .col-lg-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        padding: 0;
      }
      
      .client-images img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
      

  }


  .client-images .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding: 0;
  }
  
  .client-images img {
    width: 35px;
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  form .form-control{
    border-radius: 0;
    
  }

  form .form-control:focus{
    box-shadow: none;
    border-color: #e93881;
  }


  #cta{
    background-color: #e93881;
  }


  .footer-top{
    padding-top: 80px;
    padding-bottom: 30px;
  }

  .footer-bottom{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.322);
  }


  footer .footer-links a,
footer .social-icons a{
color: #898fa1;
}

footer .footer-links a{
    display: block;
    font-weight: 400;
    text-decoration: none;
}


footer .social-links a{
    font-size: 24px;
    
}

footer .footer-links a:hover,
footer .social-icons a:hover{
color: #e93881;
}